{{#each this}}
<div class="photo-card">
       <div>
       <a class="image-link" href="{{this.largeImageURL}}"><img src="{{this.webformatURL}}" alt="{{this.tags}}" class='images' loading="lazy" /></a>
       </div>
       <div class="info">
              <p class="info-item">
                     <b class="info-title">Likes <span class='info-value'>{{likes}}</span></b>
              </p>
              <p class="info-item">
                     <b class="info-title">Views<spa class='info-value'>{{views}}</span></b>
              </p>
              <p class="info-item">
                     <b class="info-title">Comments<span class='info-value'>{{comments}}</span></b>
              </p>
              <p class="info-item">
                     <b class="info-title">Downloads<span class='info-value'>{{downloads}}</span></b>
              </p>
       </div>
</div>
{{/each}}